.image {
  height: 300px;
  width: 200px;
  object-fit: contain;
}
.books__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}

.main__container {
  margin: 25px;
}
