.main__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  margin: 30px;
}

.section-title {
  font-size: 18px;
  color: var(--color-primary);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}
